*{
    padding: 0;
margin: 0;
}
body{
    background-color: #E5E3C9 !important;
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #FFBE58;
    text-transform: uppercase;
    background-color: #404F50;
}
.logo{
    height: 50px;
    padding: 0px 100px;
}


.icon-bar{
    background-color:#FFBE58 ;

}
li a{
    color: #FFBE58;
    margin-right: 20px;
    font-family: serif;

}
li a:hover{
    background-color: #2D373A88 !important;
    color: #F3F670;
    border-bottom: #F3F670 2px solid;
font-family: serif;
}
.big-text{
    font-size: 52px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2D373A88;
}
.col-sm-6 h1{
    font-size: 54px;
color: #FFBE58;
font-family: cursive !important;
margin-top: 100px;
margin-left: 125px;

}
.col-sm-6 .p{
    font-size: 20px;
    margin-left: 10px;
}
.image{
    width: 600px;
    height: 350px;
    border-radius: 5px;
    margin: 100px -40px;
}
a.btn{
border-radius: 20px;
padding: 10px;
width: 150px;
margin: 30px 10px;
}
a.btn-fist{
    border-radius: 20px;
background-color: #FFBE58;
padding: 10px;
color:#111010 ;
font-size: 20px;
text-transform: uppercase;
font-family: cursive;
}
a.btn-s{
    border-radius: 20px;
    background-color: #FFBE58;
    padding: 10px;
    color:#111010 ;
font-size: 20px;
text-transform: uppercase;
font-family: cursive;


}

.image2{
    width: 600px;
    height: 400px;
    border-radius: 15px;
margin: 100px -580px;
}

.container2{
    border-top: 2px solid #111010;
}
.col-sm-66 h1{
    font-size: 54px;
color: #FFBE58;
font-family: cursive !important;
padding-top: 100px;
padding-left: 800px;
}
.big-text2{
    font-size: 52px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2D373A88;
    padding-left: 700px;

}
